.login{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 228, 228);
  height: 670px;
}

.container{
    height: 200px;
    width: 200px;
    background-color: rgb(234, 238, 236);
    text-align: center;
    border-radius: 10px;

}

.container p{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 17px;
}
.login-btn{
margin-top: 40px;
padding: 8px 4px;
font-size: 15px;
background-color: rgb(54, 183, 223);
border: none;
color: white;

}