

ul{
    display: flex;
    background-color:rgb(12, 112, 112);
    color: white;
    height: 60px;

}

ul li{
    list-style: none;
    font-size: 20px;
    margin-top: 15px;
    
    
}

.link{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-family: sans-serif;
   
}

.link:hover{
    color: aqua;
}


.logout{
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 2px 10px;
    text-align: center;
}